<%- include("partials/header") %>

<div class="d-flex justify-content-center text-center">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:25rem;">
        <div class="card-body">
            <h1>Edit Comment</h1>
            <form action="/<%= venue.id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/<%= venue.id %>">Go back</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>