<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <div class="row">
        <% venues.forEach(function(venue){ %>
            <div class="col-lg-3 col-md-4 col-sm-12 m-3">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img src=<%= venue.image %> class="card-img-top" style="height: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= venue.name %></h5>
                      <p class="card-text">
                          Category: <%= venue.type %> <br>
                          Up Votes: <%= venue.upVotes %> <br>
                          Down Votes: <%= venue.downVotes %>
                      </p>
                      <a href="/<%= venue._id %>" class="btn btn-outline-success">View Page</a>
                    </div>
                </div>
                <img src=<%= venue.picture1 %> >
            </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer") %>